.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 60%;
  max-width: 120%;
  background-color: #a1e3e5;
  background-color: rgba(161, 227, 229, 0.7); /* Semi-transparent background */
  border-radius: 1%;
  box-shadow: 0 4% 8% rgba(0, 0, 0, 0.1);
  margin-bottom: 13%;
  margin-top: 3%;
  margin-left: 20.5%;
}

.basic-container {
  /*background-image: url("/public/Pictures/picture4.png"); /* Add your image path here */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 100vh; /* Full viewport height */
  width: 100%;
  position: cover; /* This helps with full coverage */
}

.question {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: #f9f4f4;
  cursor: pointer;
  text-align: left;
  position: center;
  width: 180%;
  margin-left: -40%;
  min-height: 50%;
  resize: vertical;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 1%;
}

.checkbox-group {
  position: absolute;
  right: 0;
  left: 115%;
  border: 1% solid #ccc;
  border-radius: 5%;
  background-color: rgb(161, 227, 229);
  padding: 3%;
  width: auto;
  min-width: 80%;
  z-index: 10;
  text-align: left;
  white-space: nowrap;
  box-shadow: 0% 8% 16% rgba(0, 0, 0, 0.2);
  max-height: 1500%; /* Adjust this to fit three options */
  overflow-y: auto;
}

.checkbox-group label {
  display: block;
  margin-bottom: 3%;
  color: #1a1a1a;
}

/* Styling for submit button */
.submit-button {
  font-size: 1em;
  background-color: #1486d2;
  color: #fff;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #1486d2;
}
/* Response container styling */
.response1-container {
  width: 80%;
  max-width: 59%;
  background-color: #e9f7fa;
  border-radius: 1%;
  padding: 3%;
  box-shadow: 0 4% 8% rgba(0, 0, 0, 0.1);
  margin-top: -10%;
  margin-bottom: 5%;
  text-align: left;
  margin-left: 21%;
}

.response1-container h2 {
  color: #007bff;
  margin-bottom: 3%;
}

.response1-container p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
}

.custom-progress {
  height: 25%;
  background-color: #a8a11c;
  border-radius: 5%;
  border: 1% solid #87c619;
}
.custom-progress-bar {
  background-color: #e15d5d; /* Custom color for the progress fill */
  transition: width 0.4s ease;
  font-weight: bold;
  color: rgba(220, 17, 17, 0.878);
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack elements vertically */
  height: 100vh;
  position: relative; /* Establish a containing block for absolutely positioned children */
}

.loading-video {
  width: 50%; /* Adjust size as needed */
  height: auto;
  border-radius: 5%;
  margin-top: -50%;
}

.loading-text {
  position: absolute;
  top: 10%; /* Position text at the top */
  transform: translateY(
    -50%
  ); /* Center the text vertically relative to the line */
  font-size: 1.2em; /* Adjust font size */
  color: #333; /* Adjust text color */
  background-color: rgba(
    161,
    227,
    229,
    0.7
  ); /* Optional: Semi-transparent background for readability */

  border-radius: 0%;
  text-align: center;
  margin-top: -11%;
}
