.App {
  text-align: center;
}

.App-header {
  background-color: #33c6d3;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8% + 1vmin);
  color: white;
}
.center_boxes {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Home-button {
  position: absolute;
  background-color: #33c6d3;
  top: 0%; /* Adjust to your desired position */
  left: 2%; /* Use right: 10px; if you want it in the right corner */
}

.App-footer {
  background-color: #33c6d3;
  min-height: 5vh; /* Reduced footer height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 12%;

  /* Added properties */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.App-body {
  background-color: #ffffff;
  min-height: 100vh; /* Adjusted to fill the remaining space */
  padding: 0;
  background-image: url("/public/Pictures/Background_picture.png"); /* Change to your image path */
  /* background-size: cover; /* Cover the entire viewport */
  /* background-position: center; /* Center the image */
  /* Slim the image to the left */
  background-size: 55% 95%; /* Reduce the width to 30% of the container */
  background-position: left top center; /* Align the image to the left, centered vertically */

  background-repeat: no-repeat; /* Prevent repetition */
  background-attachment: fixed;
}

.animated-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  padding: 20%;
}
.animated-title video {
  max-width: 60%;
  height: 90vh;
  margin-left: 30%;
  margin-bottom: -50%;
  margin-top: -50%;
}

.custom-button {
  background-color: #33c6d3; /* Change to your desired color */
  color: white; /* Change text color */
  border: none; /* Remove border */
}

.custom-button:hover {
  background-color: #08838e; /* Change color on hover */
  /*transform: rotateY(10deg) translateZ(50%);*/
  box-shadow: 0 15% 30% rgba(0, 0, 0, 0.5);
}

.Button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 50%; /* Fixed width */
  height: 70%; /* Fixed height */
  padding: 10%;
  margin: 10%;
  position: relative;
  left: 50%;
  bottom: 130%;
  border-radius: 8%;
  box-shadow: 0 4% 8% rgba(0, 0, 0, 0.2);
  text-align: center;
}

.option:hover {
  transform: rotateY(10deg) translateZ(20%);
  box-shadow: 0 15% 30% rgba(0, 0, 0, 0.5);
}

.Button-title {
  font-size: 1.5rem;
  color: #333;
}

.Button-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15%;
}
