.App {
  text-align: center;
}

.App-header {
  background-color: #33c6d3;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}
.App-footer {
  background-color: #33c6d3;
  min-height: 5vh; /* Reduced footer height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.App-body {
  background-color: #f0f6f7;
  min-height: 80vh; /* Adjusted to fill the remaining space */
  padding: 20px;
}

.Button-container {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.Button-title {
  font-size: 1.5rem;
  color: #333;
}

.Button-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
