.App {
  text-align: center;
}

.App-header {
  background-color: #33c6d3;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, calc(8% + 1vmin), 24px);
  color: white;
}

.center_boxes {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Home-button {
  position: absolute;
  background-color: #33c6d3;
  top: 0;
  left: 2%;
}

.App-footer {
  background-color: #33c6d3;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: clamp(12px, 12%, 16px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.App-body {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 0;
  background-image: url("/public/Pictures/Background_picture.png");
  background-size: 55% auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.animated-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  padding: 20%;
}

.animated-title video {
  max-width: 60%;
  height: 90vh;
  margin-left: 30%;
  margin-bottom: -50%;
  margin-top: -50%;
}

.custom-button {
  background-color: #33c6d3;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #08838e;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.Button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 70%;
  padding: 10%;
  margin: 10%;
  position: relative;
  left: 70%;
  bottom: 150%;
  border-radius: 8%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transform: translate(-50%, 0);
}

.option:hover {
  transform: rotateY(10deg) translateZ(20px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.Button-title {
  font-size: 1.5rem;
  color: #333;
}

.Button-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15%;
}

@media screen and (max-width: 1200px) {
  .Button-container {
    width: 50%;
    height: auto;
    min-height: 300px;
    bottom: 100%;
  }

  .animated-title video {
    margin-bottom: -30%;
  }
}

@media screen and (max-width: 768px) {
  .App-body {
    background-size: 75% auto;
  }

  .Button-container {
    width: 70%;
    bottom: 80%;
    padding: 8%;
  }

  .animated-title {
    margin-bottom: 30%;
  }

  .animated-title video {
    max-width: 80%;
    margin-bottom: -20%;
  }
}
